:root {
  --container: 1360px;
  --fz48: 48px;
  --fz32: 32px;
  --fz21: 21px;
  --fz18: 18px;
  --fz16: 16px;
  --fz14: 14px;
  --fz12: 12px;
  --fz8: 8px;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  color: #000000;
  box-sizing: border-box;
  font-size: var(--fz14);
  font-weight: 400;
  color: #000000;
  height: 100vh;
}

a,
a i {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  transition: all 0.3s;
  cursor: pointer;
}

a:hover,
a:hover i {
  color: rgba(14, 14, 14, 0.7);
}

section {
  padding: 50px 0;
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.pt-mini {
  padding-top: 25px !important;
}

img,
video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
textarea,
select {
  outline: none;
  border: 1px solid #BDBDBD;
  background: #ffffff;
  padding: 10px 18px;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  transition: all 0.3s;
}
input.error,
textarea.error,
select.error {
  border-color: red !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 512 512'%3e%3c!--! Font Awesome Free 6.4.2 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3e%3cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3e%3c/svg%3e") calc(100% - 15px)/10px no-repeat #ffffff;
}
select::-ms-expand {
  display: none;
}

.mt0 {
  margin-top: 0 !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 18px 37px;
  background-color: #000000;
  border: 1px solid transparent;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #828B8D;
  color: #ffffff;
}
.btn.white {
  background-color: #ffffff;
  color: #000000;
}
.btn.white:hover {
  background-color: #000000;
  color: #ffffff;
}
.btn.border {
  border-color: #000000 !important;
}

._title {
  font-size: var(--fz64);
  font-weight: 500;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

header {
  background-color: #ffffff;
  width: 100%;
  z-index: 30;
}
header .header .info-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
header .header .info-block .item {
  font-size: var(--fz32);
}
header .header .info-block .item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
header .header .info-block .item span {
  display: block;
  text-transform: uppercase;
  pointer-events: none;
  font-weight: 700;
}

._title {
  font-size: var(--fz32);
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

.checkbox-block {
  cursor: pointer;
  display: flex;
  gap: 10px;
}
.checkbox-block > span {
  font-size: var(--fz14);
}

.checkbox {
  position: relative;
}
.checkbox input#check {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  display: none;
}
.checkbox input#check:checked + div {
  background-color: #000000;
}
.checkbox input#check:checked + div svg path {
  stroke-dashoffset: 0;
}
.checkbox input#check:focus + div {
  transform: scale(1.03);
}
.checkbox input#check.error + div {
  border-color: red;
}
.checkbox #check + div {
  display: block;
  border: 2px solid #000000;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.checkbox #check + div:active {
  border-radius: 3px;
}
.checkbox #check + div svg {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translate(-1px, -50%);
}
.checkbox #check + div svg path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 6px;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 350ms cubic-bezier(1, 0, 0.37, 0.91);
}

.modal#infoModal .modal-content .modal-header {
  padding: 40px 80px;
  position: relative;
}
.modal#infoModal .modal-content .modal-header .modal-title {
  font-size: var(--fz18);
  font-weight: 500;
}
.modal#infoModal .modal-content .modal-header .modal-title.center {
  text-align: center;
}
.modal#infoModal .modal-content .modal-header .btn-close {
  position: absolute;
  background-color: #ffffff;
  opacity: 1;
  border-radius: 0;
  filter: invert(1);
  padding: 9px 10px;
  top: 50%;
  right: 40px;
  transform: translateY(calc(-50% + 9px));
}
.modal#infoModal .modal-content .modal-body {
  padding: 0;
}
.modal#infoModal .modal-content .modal-body > .info-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.modal#infoModal .modal-content .modal-body > .info-block.map {
  grid-template-columns: 2fr 1fr;
}
.modal#infoModal .modal-content .modal-body > .info-block .item {
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.modal#infoModal .modal-content .modal-body > .info-block .item:nth-child(2) {
  background-color: #F9F9F9;
}
.modal#infoModal .modal-content .modal-body > .info-block .item .name {
  font-size: var(--fz21);
  font-weight: 500;
}
.modal#infoModal .modal-content .modal-body > .info-block .item .application-block {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.modal#infoModal .modal-content .modal-body > .info-block .item .application-block .field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal#infoModal .modal-content .modal-body > .info-block .item .application-block .fb {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: -5px;
}
.modal#infoModal .modal-content .modal-body > .info-block .item .application-block .fb .field-block {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.modal#infoModal .modal-content .modal-body > .info-block .item .application-block .fb .field-block .recover-pass {
  color: #828B8D;
}

@media screen and (max-width: 330px) {
  .modal-header {
    flex-direction: column;
  }
  .white {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */