body {
  margin: 0;
  padding: 0;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  width: 100%;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
}

h2 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .info-block {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  text-align: center;
}
.main .info-block h2 {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
.main .info-block .btn a {
  padding: 20px 64px;
  background-color: rgb(76, 0, 255);
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  transition: all 0.3s;
}
.main .info-block .btn a:hover {
  background-color: rgb(37, 0, 124);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.item .info-block {
  display: flex;
  flex-direction: column;
  gap: 56px;
  width: 400px;
  padding: 80px;
  background-color: #fff;
  align-items: center;
  border-radius: 15px;
  box-shadow: inset -5px -4px 1px rgba(0, 0, 0, 0.856);
}
.item .info-block .title h2 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: #000;
}
.item .info-block label {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.item .info-block label .confirm {
  display: flex;
  gap: 2px;
  align-items: center;
}
.item .info-block label .confirm .customCheck {
  width: 20px;
  cursor: pointer;
}
.item .info-block label input {
  height: 30px;
  border: 2px solid #000;
  border-radius: 10px;
  padding-left: 12px;
  font-size: 16px;
}
.item .info-block .btnHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.item .info-block .btnHolder span {
  display: flex;
  align-items: center;
  gap: 16px;
}
.item .info-block .btnHolder span .btn {
  background: none;
  color: rgb(76, 0, 255);
  transition: all 0.3s;
}
.item .info-block .btnHolder span .btn:hover {
  color: rgb(37, 0, 124);
}
.item .info-block .btnHolder .sign_in {
  padding: 10px 32px;
  background-color: rgb(76, 0, 255);
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  transition: all 0.3s;
}
.item .info-block .btnHolder .sign_in:hover {
  background-color: rgb(37, 0, 124);
}

@media screen and (max-width: 2560px) {
  .item .info-block {
    width: 500px;
    padding: 100px;
  }
}
@media screen and (max-width: 1201px) {
  .item .info-block {
    gap: 16px;
    padding: 60px;
  }
}
@media screen and (max-width: 577px) {
  .item .info-block {
    padding: 40px;
  }
}
@media screen and (max-width: 377px) {
  body {
    background: #fff;
  }
  .item .info-block {
    gap: 10px;
    padding: 15px;
    box-shadow: none;
  }
  .item .info-block .title {
    font-size: 16px;
  }
  .item .info-block label {
    gap: 16px;
  }
  .item .info-block .btnHolder {
    gap: 10px;
  }
}/*# sourceMappingURL=style.css.map */