$white: #fff;
$violet: rgb(76, 0, 255);
$dviolet: rgb(37, 0, 124);
$black: #000; 
body {
    margin: 0;
    padding: 0;
    backdrop-filter: blur(3px);
    width: 100%;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    
}
h2 {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.btn {
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.main {
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .info-block {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 100px;
        text-align: center;
        h2 {
            font-size: 48px;
            font-weight: 600;
            text-align: center;
            color: $white;
        }
        .btn {
            a {
                padding: 20px 64px;
                background-color: $violet;
                text-decoration: none;
                color: $white;
                font-size: 20px;
                font-weight: 700;
                border-radius: 10px;
                transition: all .3s;
                &:hover {
                    background-color: $dviolet;
                }
            }
        }
    }
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .info-block {
        display: flex;
        flex-direction: column;
        gap: 56px;
        width: 400px;
        padding: 80px;
        background-color: $white;
        align-items: center;
        border-radius: 15px;
        box-shadow: inset -5px -4px 1px rgba(0, 0, 0, 0.856);
        .title {
            h2 {
                font-size: 32px;
                font-weight: 600;
                text-align: center;
                color: $black;
            }
        }
        label {
            display: flex;
            flex-direction: column;
            gap: 25px;
            width: 100%;
            .confirm {
                display: flex;
                gap: 2px;
                align-items: center;
                .customCheck {
                    width: 20px;
                    cursor: pointer;
                }
            }
            input {
                height: 30px;
                border: 2px solid #000;
                border-radius: 10px;
                padding-left: 12px;
                font-size: 16px;
            }
        }
        .btnHolder {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            span {
                display: flex;
                align-items: center;
                gap: 16px;
                .btn {
                    background: none;
                    color: $violet;
                    transition: all .3s;
                    &:hover {
                        color: $dviolet;
                    }
                }
            }
            .sign_in {
                padding: 10px 32px;
                background-color: $violet;
                text-decoration: none;
                color: $white;
                font-size: 20px;
                font-weight: 700;
                border-radius: 10px;
                transition: all .3s;
                &:hover {
                    background-color: $dviolet;
                }
            }
        }
    }
}
@media screen and (max-width: 2560px) {
    .item {
        .info-block {
            width: 500px;
            padding: 100px;
        }
    }
    }
@media screen and (max-width: 1201px) {
    .item {
        .info-block {
            gap: 16px;
            padding: 60px;
        }
    }
    }

@media screen and (max-width: 577px) {
        .item {
            .info-block {
                padding: 40px;
            }
        }
        }

@media screen and (max-width: 377px) {
    body {
        background: $white;
    }
   
            .item {
                .info-block {
                    .title {
                        font-size: 16px;
                    }
                    gap: 10px;
                    padding: 15px;
                    box-shadow: none;
                    label {
                        gap: 16px;
                    }
                    .btnHolder {
                        gap: 10px;
                    }
                }

            }
            }